body
{
	background: radial-gradient(#eb5834,#eb9234,#ebcc34);	
}

	.div1 , .div2
	{
		background:blueviolet;
		
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}